.container-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    margin-bottom: 20px;
    background-color: #45a049;
}

.form-user {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label-form {
    margin-bottom: 8px;
    font-weight: bold;
}

.input-form {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.button-form {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-form:hover {
    background-color: #45a049;
}

.add-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0073aa;
    color: white;
    text-decoration: none;
}

/* EDIT Categoria */

